.navLogo {
    max-width: 60px;
    max-height: 200px;
    float: left;
    background-color: transparent;
}

.navItem {
    float: right;
    background-color: transparent;
    padding-right: 50px;
    color: white;
}

.navItems {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navBar {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 60px;
    background-color: #2D2F36;
}